@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

html {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*Main Page */
.App {
  max-width: 600px;
  height: 100vh;
  margin: auto;
  border: 1px solid lightgray;
}
div.design {
  width: 100%;
  background-image: url("./interactive-card-details-form-main/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px;
  position: relative;
}

/*Cards */
.card {
  width: 275px;
  height: 200px;
  padding: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  color: white;
}
.card.back {
  background-image: url("./interactive-card-details-form-main/images/bg-card-back.png");
  top: 20px;
  right: 10px;
}
.card.back .cvcValue {
  position: absolute;
  right: 32px;
  top: 62px;
}
.card.front {
  background-image: url("./interactive-card-details-form-main/images/bg-card-front.png");
  top: 100px;
  left: 10px;
}
.card.front img {
  width: 60px;
  display: block;
  margin-bottom: 20px;
}
.card.front .card-number-value {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.1rem;
  margin: auto;
  margin-bottom: 10px;
}
.card.front .card-data {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
}
.container {
  background-color: rgb(252, 252, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px 20px;
}
/*Form */
.block {
  display: block;
}
label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 5px;
  margin-top: 15px;
}
label,
button {
  letter-spacing: 1px;
}
input {
  padding: 12px;
  text-indent: 4px;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 5px;
  font-family: inherit;
  letter-spacing: 1px;
}
input[name="name"],
input[name="number"] {
  display: block;
  width: 100%;
}

.date-and-cvc {
  display: flex;
  justify-content: space-between;
}
.date .flex {
  display: flex;
  justify-content: space-between;
}
input[name="month"],
input[name="year"] {
  width: 45%;
}
input[name="year"] {
  margin-right: 10px;
}

/*Errors */
div.error {
  color: hsl(0, 100%, 66%);
  font-weight: bold;
}
input.error {
  outline: 1px solid red;
}
button {
  margin-top: 25px;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  line-height: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

/* Complete Section */
.complete-section {
  margin-top: 30px;
}
.complete-section > * {
  text-align: center;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.complete-section img {
  display: block;

  margin: auto;
}

/*Footer */
.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media only screen and (min-width: 1200px) {
  .App {
    max-width: 1700px;
  }
  .App .flex {
    display: flex;
  }

  div.design {
    flex: 300px 1;
    height: 100vh;
    background-image: url("./interactive-card-details-form-main/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-self: stretch;
  }

  div.container {
    flex-grow: 2;
  }

  .card {
    width: 400px;
    height: 250px;
    padding: 25px;
  }

  .card.front {
    top: 20%;
    right: -100px;
    left: unset;
  }

  .card.back {
    top: 55%;
    right: -160px;
  }
  .card.back .cvcValue {
    position: absolute;
    right: 50px;
    top: 96px;
    letter-spacing: 1px;
  }

  .container {
    padding: 50px;
  }
  form,
  .complete-section {
    max-width: 500px;
  }

  .card.front img {
    width: 75px;
    margin-bottom: 50px;
  }
  .card.front .card-number-value {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  .card.front .card-data {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
  }
}
